
button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.azul {
    background-color: #1c00f3;
    color: white;
}
.rojo {
    background-color: #f30000;
    color: white;
}

.naranja {
    background-color: orange;
    color: white;
}

.negro {
    background-color: rgb(160, 84, 84);
    color: white;
}